@{
    ViewData["Title"] = "Registration";
}
<div class="registration__wrapper">
    <div class="registration flex">
        <h2 class="registration__title">
            Регистрация
        </h2>
        <p class="registration__question">
            Есть аккаунт?<a href="/AuthUser/Login" class="registration__link">Войдите</a>
        </p>
        <form method="post" class="registration-form">
            <div class="registration__form-group">
                <input class="registration__form-group-item" type="text" name="phone" placeholder="Телефон" required>
            </div>
            <div class="registration__form-group">
                <input class="registration__form-group-item" type="text" name="UserName" placeholder="Имя" required>
            </div>
            <div class="registration__form-group">
                <input class="registration__form-group-item" type="password" name="password" placeholder="Пароль" required>
                <span class="toggle-password">👁️</span>
            </div>
            <div class="registration__form-group">
                <input class="registration__form-group-item" type="password" name="repeatPassword" placeholder="Повторить Пароль" required>
                <span class="toggle-password">👁️</span>
            </div>
            <button class="btn-reset registration-btn" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>          