@model FlowersShopMVCTraining.Models.AuthUser.RegistrationViewModel

@{
    ViewData["Title"] = "Registration";
}
<div class="registration__wrapper">
    <div class="registration flex">
        <h2 class="registration__title">
            Регистрация
        </h2>
        <p class="registration__question">
            Есть аккаунт?<a href="/AuthUser/Login" class="registration__link">Войдите</a>
        </p>
        <form method="post" class="registration-form">
            <div class="registration__form-group">
                <input class="registration__form-group-item" type="text" name="phone" placeholder="Телефон"
                       required                       
                       title="Номер телефона не может быть пустым.">
                @Html.ValidationMessageFor(x => x.Phone)
            </div>
            <div class="registration__form-group">
                <input class="registration__form-group-item" type="text" name="userName" placeholder="Имя"
                       required                  
                       title="Имя пользователя не может быть пустым.">
                @Html.ValidationMessageFor(x => x.UserName)
            </div>
            <div class="registration__form-group">

                <input class="registration__form-group-item password" type="password" name="password" placeholder="Пароль"
                       required                      
                       title="Пароль не может быть пустым.">
                @Html.ValidationMessageFor(x => x.Password)
                <span class="toggle-password">👁️</span>

            </div>
            <div class="registration__form-group">
                <input class="registration__form-group-item repeat-password" type="password" name="repeatPassword" placeholder="Повторить Пароль"
                       oninput="check()"
                       required>
                @Html.ValidationMessageFor(x => x.RepeatPassword)
                <span class="toggle-password">👁️</span>
            </div>
            <button class="btn-reset registration-btn" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>          